body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16;
}

.card {
  width: 400px;
  background:  white;
  margin: auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-weight: bold;
  margin: 16px 8px 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
}